[project]
	description = McuOnEclipse Processor Expert components and example projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/binhbt3
[access "refs/for/refs/*"]
	read = group user/binhbt3
	push = group user/binhbt3
	label-Code-Review = -2..+2 group user/binhbt3
	label-Verified = -1..+1 group user/binhbt3
	rebase = group user/binhbt3
	removeReviewer = group user/binhbt3
	submit = group user/binhbt3
[access "refs/heads/*"]
	read = group user/binhbt3
	create = group user/binhbt3
	push = +force group user/binhbt3
	pushMerge = group user/binhbt3
[access "refs/tags/*"]
	push = +force group user/binhbt3
	pushTag = group user/binhbt3
	pushSignedTag = group user/binhbt3
